/* ---HOME PAGE--- */

/* Hero section */
.hero {
    background-image: url("hero_tennis_court.jpg"); /* Background image */
    background-size: 1300px 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
    height: 600px;
}
 
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
 
.hero h1 .highlight {
    color: rgb(69, 182, 54);
    -webkit-text-stroke: 1px black;
}
 
.hero p {
    font-size: 18px;
    color: rgb(255, 255, 255);
}
 
/* Home container and contents */
 
.home-container {
    display: flex;
    justify-content: space-around;
}
 
.about, .world-no-1 {
    width: 40%;
    padding: 50px 0;
}
 
 
/* ---ABOUT US PAGE--- */

/* Page title */
#about-page-title {
    margin: 20px;
}

/* Page body */
.about-body {
    display: flex;
    background: white;
}

/* Portrait photo */
#portrait-photo {
    margin: 0 20px;
    margin-bottom: 20px;
    float: left;
    width: 500px;
    border-radius: 25px;
}


/* ---ARTICLES PAGE--- */

/* Grid layout */
.grid {
    display: grid;
    margin: 20px;
    grid-template-columns: 85% 15%;
}

.grid-item {
    margin: 5px;
}

.grid-item a {
    text-decoration: none;
    color: navy;
}

.grid-item a:hover {
    color: blue;
}

#c, #d {
    margin-top: 20px;
}



/* Blog Footer */
#blog-footer {
    text-align: center;
    margin: 10px;
}
