<h2>Fizz Buzz 3</h2>

<h3 id="greeting">Welcome to Jordan's Portfolio!</h3>

<form id="nameForm">
  <div class="fb-input">
    <label for="first_name">First Name (Required):</label>
    <input required type="text" id="first_name" placeholder="e.g., John" />
  </div>
  <div class="fb-input">
    <label for="middle_initial">Middle Initial:</label>
    <input
      type="text"
      id="middle_initial"
      maxlength="1"
      placeholder="e.g., A"
    />
  </div>
  <div class="fb-input">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" placeholder="e.g., Smith" />
  </div>
  <button type="submit" id="fb-submit">Submit</button>
</form>
<!-- FizzBuzz loop outputs in this div -->
<div id="output"></div>
<!-- This white circle is for visibility of the accumulus validator icon -->
<div class="white-circle"></div>
