<div class="header-div">
  <img
    id="header-logo"
    src="images/logo(1).png"
    alt="Brand Logo"
    type="image/png"
  />
  <h1 id="header-title">Jordan Perez's Jolly Penguin | WEB115</h1>
</div>
<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="introduction.html">Introduction</a></li>
    <li><a href="contract.html">Contract</a></li>
    <li><a href="brand.html">Brand</a></li>
    <li><a href="jspractice.html">JS Code Play</a></li>
    <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
    <li><a href="fizzbuzz1.html">Fizz Buzz 1</a></li>
    <li><a href="fizzbuzz2.html">Fizz Buzz 2</a></li>
    <li><a href="fizzbuzz3.html">Fizz Buzz 3</a></li>
    <li><a href="fizzbuzz4.html">Fizz Buzz 4</a></li>
    <li><a href="fccfsjs_outline.html">FCC JS Outline</a></li>
    <li><a href="intro_form.html">Introduction Form</a></li>
  </ul>
</nav>
